.cookies{
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.btn{
  text-align: center;
  padding-top: 10px;
  height: 35px;
}

.right {
  width: auto;
  text-align: right;
  margin-bottom: 150px;
}

.menu_icon {
  display: none;
}

.icons {
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
}

.icons div {
  height: 130px;
  padding: 30px 30px 0 30px;
  text-align: center;
}

.icons i {
  font-size: 60px;
}

.menu {
  position: absolute;
  top: 70px;
  right: 20px;
}

.footer{
  width: 100%;
  height: 300px;
  margin-top: 200px;
}

@media(max-width: 1360px) {
  .right {
    display: block;
    float: none;
    clear: both;
    margin-left: 50px;
  }
}

@media(max-width: 1100px) {
  .top_right {
    display: none;
  }

  .menu_icon {
    display: block;
  }
}

@media(max-width: 860px) {
  .left {
    padding-left: 30px;
  }

  .right {
    margin-left: 30px;
  }
  
  .ml-3{
    margin-left: 30px;
  }
}

@media(max-width: 840px) {
  .code{
    flex-direction: column;
  }
  .code > div{
    margin: 30px 0 0 0;
  }
  .code > div div{
    float: left;
  }
  .code .after{
    margin-top: 9px;
    margin-left: 50px;
  }
}

@media(max-width: 650px) {
  .top p {
    display: none;
  }

  .menu_icon {
    margin-top: 25px !important;
  }
}

.dark{
  background: #202020;
  color: #efefef;
}

.dark h1, .dark .top a i {
  color: #129392 !important;
}

.dark .top .bg-hover-primary-light-8:hover{
  background: #303030 !important;
  color: #fff !important;
}

.dark .top .bg-hover-silver-light-8:hover{
   background: #404040 !important;
  color: #fff !important;
}

.dark .icons{
  background: #303030 !important;
  color: #fff  !important;
}

.dark .icons div:hover{
  background: #404040 !important;
  color: #fff !important;
}

.dark .menu{
  background: #303030 !important;
  color: #fff !important;
  border: 1px solid #666;
}

.dark .custom, .dark .footer{
  background: #303030 !important;
  color: #fff !important;
}

.dark .custom .bg-primary-light-7{
  background: #404040 !important;
  color: #fff !important;
}

.dark .toast{
  border: 1px solid #777;
}

.dark .toast .body{
  background: #303030 !important;
  color: #fff !important;
}

.dark .footer .txt-secondary{
  color: #969eff !important;
}
