$colors: (
    "green": #018281,
    "silver": silver,
    "white": white,
    "black": black
);
$blue_gradient: linear-gradient(90deg,navy,#1084d0);

@each $key,$val in $colors{
    .text-#{$key}{
        color: $val;
    }
    .bg-#{$key}{
        background: $val;
    }
}