@each $key,$val in $colors{
    .txt-#{$key}{
        color: $val;
    }
    .bg-#{$key}{
        background: $val;
        color: color-contrast($val);
    }
  @for $i from 1 through 4{
    @if($val != black and $val != white){
      .txt-#{$key}-dark-#{$i}{
        color: mix(black,$val,$i*10%);
      }
      .txt-#{$key}-light-#{$i}{
        color: mix(white,$val,$i*10%);
      }
      .bg-#{$key}-dark-#{$i}{
        background: mix(black,$val,$i*10%);
        color: color-contrast(mix(black,$val,$i*10%));
      }
      .bg-#{$key}-light-#{$i}{
        background: mix(white,$val,$i*10%);
        color: color-contrast(mix(black,$val,$i*10%));
      }
    }
  }
}