@use 'sass:math';

@function get_brightness($color) {
    @return math.div(((red($color) * .299) + (green($color) * .587) + (blue($color) * .114)), 255) * 100%;
}

@function color-contrast($color) {
    $color-brightness: get_brightness($color);  
    $light-text-brightness: get_brightness(white);
    $dark-text-brightness: get_brightness(black);
    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), white, black);  
}